<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos del vehiculo</strong>

        <small>Módulo</small>
      </div>

      <div class="card-body">
        <div class="row">
          <table class="table">
            <thead>
              <th>#</th>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Estado</th>
              <th></th>
            </thead>
            <tr *ngFor="let clientes of lstClientes; let indice = index">
              <td>{{indice +1}}</td>
              <td>{{clientes.nombre}}</td>
              <td>{{clientes.direccion}}</td>
              <td><span>{{clientes.estado}}</span></td>
              <td><button class="btn btn-info" title="Ver mas"><i class="fa fa-list"></i></button>
                <a  [routerLink]="['/clientes/editar', clientes.idCliente]" class="fa fa-pencil btn btn-info"></a>
              <!-- <button class="btn btn-primary" title="Editar informacion"><i class="fa fa-pencil"></i></button> -->
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
