<div class="app flex-row align-items-center">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card-group mb-0">
                  <div class="card p-4">
                      <div class="card-block">
                          <h1>Acceso al sistema</h1>
                          <p class="text-muted">Inicia sesion con tu cuenta</p>
                          <div class="input-group mb-3">
                              <span class="input-group-addon"><i class="icon-user"></i>
                              </span>
                              <input  [(ngModel)]="objUser.user" type="text" class="form-control" placeholder="Usuario">
                          </div>
                          <div class="input-group mb-4">
                              <span class="input-group-addon"><i class="icon-lock"></i>
                              </span>
                              <input  [(ngModel)]="objUser.pass" type="password" class="form-control" placeholder="Contraseña">
                          </div>
                          <div class="row">
                              <div class="col-6">
                                  <button (click)="login()" type="button" class="btn btn-primary px-4">Login</button>
                              </div>
                              <div class="col-6 text-right">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
                      <div class="card-block text-center">
                          <div>
                           <img src="assets/img/logoXtremCars.png"/>
                              <!-- <h2>Sign up</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                              <button type="button" class="btn btn-primary active mt-3">Register Now!</button> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
