<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos del vehiculo</strong>

        <small>Módulo</small>
      </div>

      <div class="card-body">
        <div class="row">
          <table class="table">
            <thead>
              <th>#</th>
              <th>Matricula</th>
              <th>Color</th>
              <th></th>
            </thead>
            <tr *ngFor="let carro of lstCarros; let indice = index">
              <td>{{indice +1}}</td>
              <td>{{carro.matricula}}</td>
              <td>{{carro.color}}</td>
              <td>
                <a class="btn btn-info"  [routerLink]="['/cars/editar', carro.idvehiculo]">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
