<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos del vehiculo</strong>
        <small>Módulo</small>
        <div class="pull-right">
          <a>
            <i class="fa fa-hand-o-left fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="">Nombre del hit:</label>
              <input [(ngModel)]="headCareer.nombreHit" type="text" class="form-control">
            </div>
            <div class="form-group">
              <button (click)="guardarHeadCareer();" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
