<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos del vehiculo</strong>
        <small>Módulo</small>
        <div class="pull-right">
          <a>
            <i class="fa fa-hand-o-left fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <!-- <form #formCars="ngForm"> -->
          <div class="row">




            <div class="form-group col-sm-6">
              <label>Matricula de carro:</label>
              <input [(ngModel)]="cars.matricula" type="text" class="form-control" placeholder="Matricula..." />
            </div>
            <div class="form-group col-sm-6">
              <label>Color:</label>
              <input [(ngModel)]="cars.color" type="text" class="form-control" placeholder="Color..." />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 ">
              <button (click)="guardarVehiculo()" class="btn btn-primary">
                Guardar
              </button>
            </div>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>
