<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos del vehiculo</strong>
        <small>Módulo</small>
        <div class="pull-right">
          <a>
            <i class="fa fa-hand-o-left fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <h4>Información de la carrera</h4>
            <div class="form-group">
              <p>
                <strong>Nombre de la carrera:</strong>
                {{headCareer.nombreHit}}
              </p>
              <p>
                <strong>Fecha:</strong>
                {{headCareer.fecha}}
              </p>
            </div>
            <div class="form-group">
              <label for="">Usuarios:</label>
              <select class="form-control" [(ngModel)]="objCareeruser.idUsuario">
                <option value="">Seleccione a los jugadores</option>
                <option *ngFor="let driver of lstClientes; let indice = index" [value]="driver.idusuario" value="">{{driver.nombre}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Vehiculos:</label>
              <select class="form-control" [(ngModel)]="objCareeruser.idVehiculo">
                <option value="">Seleccione un vehiculo</option>
                <option *ngFor="let car of lstCarros; let indice = index" [value]="car.idvehiculo">Matricula :{{car.matricula}}, color :{{car.color}}</option>
              </select>
            </div>
            <div class="form-group">
              <button (click)="guardarCareerUser();" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>

        <div class="row">

          <table class="table">
            <thead>
              <th>
                #
              </th>
              <th>
                Nombre
              </th>
              <th>
                Matricula
              </th>
              <th>
                Color
              </th>
              <th></th>
            </thead>

            <tr *ngFor="let user of lstUserCareer; let indice = index">
              <td>
                {{indice+1}}
              </td>
              <td>
                {{user.nombre}}
              </td>
              <td>
                {{user.matricula}}
              </td>
              <td>
                {{user.color}}
              </td>
              <td>
                <button (click)="eliminarIntegrante(user.idcarreraUsuario)" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
