<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <strong>Datos Personales</strong>
        <small>Información del cliente</small>
        <span class="badge badge-success float-right" > {{objCliente.estado}}</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3">
              <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/user-male-icon.png" alt="..." class="img-thumbnail">
          </div>
          <div class="col-lg-9">
            <div class="form-group">
              <label for="name">Nombre Completo:</label>
              <input [(ngModel)]="objCliente.nombre" class="form-control" id="name" placeholder="Nombre completo..." type="text">
            </div>
            <div class="form-group">
              <label for="name">Direccion:</label>
              <input [(ngModel)]="objCliente.direccion" class="form-control" id="name" placeholder="Direccion..." type="text">
            </div>
            <div class="form-group">
              <label for="name">Telefono:</label>
              <input [(ngModel)]="objCliente.telefono" class="form-control" id="name" placeholder="Direccion..." type="text">
            </div>
            <div class="form-group">
              <h6>Datos del usuario</h6>
              <hr>
              <div class="form-group">
                <label for="name">Usuario:</label>
                <input [(ngModel)]="objCliente.usuario" class="form-control" id="name" placeholder="Enter your name" type="text">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <strong>Informacion del tutor</strong>
      </div>
      <div class="card-body">
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>
