<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos del vehiculo</strong>
        <small>Módulo</small>
      </div>

      <div class="card-body">
        <div class="row">
          <table class="table table-sm">
            <thead>
              <th>#</th>
              <th>Fecha</th>
              <th>Nombre del Hit</th>
              <th>Integrantes</th>
              <th>Estado</th>
              <th></th>
              <th></th>
              <th></th>
            </thead>
            <tr *ngFor="let career of lstHeadCareer; let indice = index">
              <td>{{indice +1}}</td>
              <td>{{career.fecha}}</td>
              <td>{{career.nombreHit}}</td>
              <td>
                <span *ngIf="career.totalIntegrantes == null">
                  0
                </span>
                <span *ngIf="career.totalIntegrantes != null">
                  {{career.totalIntegrantes}}
                </span>
              </td>
              <td>{{career.estado}}</td>
              <td>
                <button title="Activar carrera" class="fa fa-tachometer btn btn-success btn-sm" (click)="activatecareer(career.idcarreraEncabezado)"></button>
              </td>
              <td>
                <a [routerLink]="['/carreras/driver', career.idcarreraEncabezado]" class="btn btn-primary btn-sm" title="Asignar Corredores">
                  <i class="fa fa-drivers-license"></i>
                </a>
              </td>
              <td>
                <a class="btn btn-info btn-sm" [routerLink]="['/carreras/editar', career.idcarreraEncabezado]">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
