<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-form></app-sidebar-form>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">
        Dashboard
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Inicio
          </a>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-car"></i>Vehiculos</a>
        <ul style="margin-left: 20px" class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/cars','altas']">
              <i class="fa fa-plus"></i> Nuevo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/cars','lista']">
              <i class="fa fa-reorder "></i> Lista
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-address-card-o"></i>Clientes</a>
          <ul style="margin-left: 20px" class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/clientes','altas']">
                <i class="fa fa-reorder "></i> Nuevo
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/clientes','lista']">
                <i class="fa fa-reorder "></i> Lista
              </a>
            </li>
          </ul>
        </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-speedometer"></i>Carreras</a>
          <ul style="margin-left: 20px" class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/carreras','altas']">
                <i class="fa fa-reorder "></i> Nuevo
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/carreras','lista']">
                <i class="fa fa-reorder "></i> Lista
              </a>
            </li>
          </ul>
        </li>






        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" (click)="cerrrarSesion()"><i class="icon-logout"></i> Cerrar Sesion
              </a>
          </li>
    </ul>
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
  <app-sidebar-minimizer></app-sidebar-minimizer>
</div>
